.each-item-wrapper {
    display: grid;
    grid-gap: 35px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: calc(100vh - 125px);
    overflow: auto;
}