.App {
  text-align: center;
}

header {
  padding-left: 12px;
  font-size: 14px;
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    z-index: 2;
    transition: background-image .4s;
    height: 70px;
    color: var(--font-color);
    border-bottom: 1px solid black;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background: var(--color-secondary);
}

header .right-header {
  display: flex;
  align-items: center;
}



/* The switch - the box around the slider */
header .right-header .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-right: 12px;
}

/* Hide default HTML checkbox */
header .right-header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
header .right-header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .right-header .slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


header img {
  height: 24px;
}

header button.logout-linkButton {
    cursor: pointer;
    display: inline-block;
    padding: 12px 14px;
    border: 1px solid #eaeaec;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff3f6c;
    font-weight: 500;
    margin: 0 5px 6px 8px;
    background-color: transparent;
}

header button.logout-linkButton:hover {
  border: 1px solid #ff3f6c;
}

.body-container {
  padding: 18px;
  background: var(--color-secondary);
  color: var(--font-color);
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  height: calc(100vh - 100px)
}