.App {
  text-align: center;
}

header {
  padding-left: 12px;
  border-bottom: 1px solid black;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
  font-size: 14px;
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    z-index: 2;
    transition: background-image .4s;
    height: 70px;
    background: rgb(20, 20, 20);
}

header .right-header {
  display: flex;
  align-items: center;
}

header img {
  height: 24px;
}

.body-container {
  padding: 18px;
  background: rgba(20, 20, 20, 0.9);
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  height: calc(100vh - 100px)
}